a,
h1,
h2,
h3,
h4,
h5 {
    font-family: "Montserrat", sans-serif !important;
}

p,
span {
    font-family: "Domine", serif !important;
}

body {
    background-color: black !important;
}

ul {
    padding-left: 0;
}

#container{
    background-color: white;
}
