/* Header Menu Animations */


a, h1, h2, h3, h4, h5 {font-family: 'Montserrat', sans-serif !important;}
p, span {font-family: 'Domine', serif !important;}
#container{ background-color: white;}
body {background-color:black !important; }
ul {padding-left: 0;}
.container {background-color: white; padding:0 !important; width:100% !important;}
.break-div {width:100%; height: 55px; background-color: black;}

.no-margin {margin:0;}
.error {color:red;}
.align-top {vertical-align:top;}
.align-left { text-align: left }
.center-me {text-align:center;}
.page-splash {width:100%; height:auto;}
.red {color:#f3c033 !important;}
.success {color: #45c631;}
.title-container {background-color:#eee; text-align:center;}
.title-text {vertical-align:middle; display:inline-block; }
.red-triangle {vertical-align:middle; display:none; width:0; height:0; border-top:100px solid red; border-right:100px solid transparent;}
.red-header {color:white; background-color: #d10000; text-align:left; padding: 10px 0 10px 10%; margin:0;}
.red-header2 {color:white; background-color:#d10000; text-align:left; padding: 10px 0 10px 10%; margin:0;}
.red-bottom {border-bottom: 2px solid #e9682f;}
.pad-20 {padding:20px;}
.vert-pad-20 {padding:20px 0;}
.top-20 {margin-top: 20px;}
.bottom-20 {margin-bottom: 20px;}
.right-20 {margin-right: 20px;}
.updown-20 {margin:20px 0;}
.white {color: white;}
.absolute-center-children {display: -ms-flexbox; -ms-flex-pack: center; -ms-flex-align: center; display: flex; justify-content: center; align-items: center;}
.paragraph {font-size:18px;}
.black-button {color:black; background-color:white; border: 2px solid black;  display:inline-block; padding: 5px 15px; margin:5px 0; text-transform:uppercase; font-family: 'Oswald', sans-serif; text-decoration:none;}
.black-button:hover {color:#47b7a5; border:2px solid #47b7a5; display:inline-block; text-decoration:none; }
.solid-black-button {color:white; border: 2px solid white; background-color:black; display:inline-block; padding: 5px 15px; margin:5px 10px; text-transform:uppercase; font-family: 'Oswald', sans-serif; text-decoration:none;}
.solid-black-button:hover {color:black; background-color: white; display:inline-block; text-decoration:none; }
.service-page {padding:20px; display:none; margin:0 auto;}
.back-yellow {background-color: #f1c14d}
.back-white {background-color:white;}
.splash-video {width:100%; height: 300px;}
.hide {display:none;}
.show {display:block;}

/* Header */
.header {z-index:10; position:fixed; height:55px; background-color: rgba(0, 0, 0, 0.5); color: white; width: 100px; text-align:left;}
.nav-link-container {display:block;font-size:20px; background-color:black; padding: 20px 0;}
.nav-link {color:white;}
.nav-link:hover {color:#f3c033; border-bottom: 2px solid #f3c033; text-decoration: none; }
.nav-link.active {color:#f3c033; text-decoration:none;}
.header-list {margin-bottom: 0px; padding: 10px 0; display:inline-block; width:100%; background-color:black;}
.nav-button {color: white; font-size:27px; display:inline-block;}
.header-menu {display: inline-block; z-index:90; width:100%; left:0; text-align:center; }
.hamburger-button {cursor: pointer; vertical-align:top; position:absolute; z-index: 100; left:10px; top:5px; font-family: 'Montserrat', sans-serif !important; font-weight:bold;}
.hamburger-button:hover {color:#f3c033;}
.mobile-site-logo {position:absolute; right:10px; top: 9px; cursor:pointer;}
.logo-container {width: 100%; display:block; background-color:black; text-align:center; border-top:55px solid #303030 }

/* Footer */
.social-icon {width:40px; height: 40px; border-radius:25px; border:2px solid black; background-color:white; margin: 0 10px; cursor:pointer; display: -ms-flexbox; -ms-flex-pack: center; -ms-flex-align: center; display: flex; justify-content: center; align-items: center;}
.social-icon:hover {background-color:#00dde5;; border: 2px solid #00dde5;}
.footer {width:100%; background-color:black; padding:20px 0; text-align:center;}
.footer-logo {padding:20px; width: 300px;}
.footer-credit {font-size:10px; color:white;}

/* Home */
.mission-statement {font-style: italic; font-size:18px;}
.black {background-color:black;}
.site-logo {position:relative; cursor:pointer; padding: 10px; width:100%; max-width:400px;}
.splash-container {position:relative;}
.splash-text {position:relative; text-align:center; background-color: black; color:white; width:100%; padding:20px;}
.home-splash {}
.summary-text {margin: 0; display:inline-block; padding: 20px;}

.community-callout {background-color: #ffce6c; padding:40px; text-align:center; color:black;}
.community-text {font-size:20px;}
.white-button {color:white; background-color:#ffce6c; border: 2px solid white;  display:inline-block; padding: 5px 15px; margin:5px 20px; text-transform:uppercase; font-family: 'Oswald', sans-serif; text-decoration:none;}
.white-button:hover {color:black; border:2px solid black; display:inline-block; text-decoration:none; }

.brain-block {text-align:center; color:white; display:none; background-color:black; }
.brain-container {text-align:center; position: relative; margin: 0 auto; display:inline-block; background-color:black; vertical-align:top; padding:20px;}
.brain-splash {width:600px; height:auto; padding:40px; margin:0 auto;}
.brain-dolphin {cursor:pointer; position:absolute; right:219px; top:16px; width:210px; border:0;}
.brain-saxophone {cursor:pointer; position:absolute; left:13px; top:130px; width:257px;}
.brain-piano {cursor:pointer; position:absolute; left:36px; bottom: 81px; width:344px;}



.mobile-white-bottom {border-bottom: 7px solid white;}
.philosophy {background-color:#47b7a5;}

.services-container {max-width:1000px; margin:0 auto;}
.service {padding:40px 20px; text-align:center; display:inline-block; vertical-align: top;}
.service:hover {background-color: #f2f2f2;}
.service-graphic {width:150px; height:auto;}

.member-splash {height:200px; background-image: url("../images/homeSplash.jpg"); background-size: 100% auto;};
.member-header {background-color:rgba(255, 255, 255, 0.5); color:white; }
.white-header {color:white; background-color:rgba(255, 255, 255, 0.5); width:100%; height: 100%;}
.member-title {word-wrap: break-word; padding: 0 41px;}
.image-preview {width:100%; max-width: 500px; height: auto}
.member-thumbnail {width:100%; padding-bottom: 20px; list-style:none; -webkit-filter: grayscale(95%);}
.member {text-align:center; display: inline-block; vertical-align: middle; padding:20px; color:black;}
.member:hover {background-color: #f2f2f2}

.event {text-align:center; padding-bottom:20px;}
.event-thumbnail {width: 50%; height: auto; padding: 0 30px;}

/* Contact */
.map-container {height:300px;}
.contact-container {text-align:left; padding-left: 15px;}
.contact-title {padding-right: 20px; display:inline-block;}
.contact-text {display:inline-block;}
.contact-form {padding:20px; max-width: 1000px; margin: 0 auto;}

/* Development */
.class-list {padding-left:35px; font-size: 18px;}

/* Artworks */
.artworks{
    background-color: black;
    text-align: center;
}
.artworks-splash{
    max-width: 600px;
}
.artworks-text{
    color: white;
    padding: 40px 20px;
    text-align: left;
}

/* Soapbox Souls */
.soapbox-splash{
    max-width: 90%;
}


/* Profile */
.black-break {width:100%; height:55px; background-color:black; display:none;}
.profile-container {max-width:800px; margin: 0 auto; padding: 20px;text-align:center;}
.member-name {color: #47b7a5}

/* 404 */
.four0four {padding: 40px 0; text-align:center;}

/* Grid Layout */
.col-1-2 {width: 100%; display:inline-block; vertical-align:top;}
.col-1-3 {width: 100%; vertical-align:top;}
.col-1-4 {width:100%;vertical-align:top;}
.col-3-4 {width:100%;vertical-align:top;}
.width-50 {width:100%; display:inline-block;}
.width-100 {width: 100%;}

/* CSS Animations */
.header-menu {
  position:fixed;
  top:3px; l
  left:0;
  width: 100%;
  transform: translateY(-100%);
  transition: transform 0.4s ease;
}

.header-menu.open {
  transform: translateY(0);
}

/* Above 795px */
@media (min-width: 796px) {

  /* Helper Classes Desktop */
  .col-1-3 {width: 33.33%;}
  .col-1-2 {width: 50%;}
  .col-1-4 {width:25%; display:inline-block;}
  .col-3-4 {width:75%; display:inline-block;}
  .width-50 {width: 50%;}
  .member {min-height:380px;}
  .splash-video {width:100%; height: 600px;}


  /* Nav */
  .nav-link-container {}
  .header-menu {width:300px; padding-top:52px;}
  .hamburger-button {}
  .site-logo {display:block; position:absolute; right: 10px; top: -5px; z-index:100; }
  .mobile-site-logo {display:none;}
  .mobile-breakdiv {display:none;}
  .logo-container {right:0;border:0;}


  /* Home */
  .home-splash {display:block;}
  .event-thumbnail {width:100%;}
  .event {padding-bottom: 0;}
  .mobile-white-bottom {border-bottom:0;}
  .red-header {font-size: 40px;}
  .red-triangle {display:inline-block;}
  .title-container {text-align:left;}
  .splash-text { padding:50px; position:absolute; bottom:0; background-color:rgba(255, 255, 255, 0.5); color:black;}
  .summary-text {margin: 0;}
  .service-page {display:block;}
  .solid-black-button {border: none;}
  .brain-block {display:block;}


  /* Contact */
  .contact-container {text-align:center; padding:0;}

  /* Profile */
  .black-break {display:block;}

  /* 404 */
  .four0four {border-top:55px solid black;}

  /* Soapbox Souls */
  .soapbox-splash{
      max-width: 70%;
  }


}



/* Widescreen */
@media (min-width: 1300px) {
  .splash-video {width:100%; height: 800px;}

}
